<!DOCTYPE html>
<html>
<head>
    <title>Play With Us</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/dragula.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/cards.css"      media="screen" />
</head>
<body>
        <script src="/static/dragula.js"></script>
        <p id="room">"Room: oh hai"</p>
        <p id="player">"Player:"</p>

	<hr>
	<h1> test section </h1>
	<p><button onclick="test_initial()" id="t_init">Initial</button>
	<button onclick="test_fivecarddraw()" id="t_five">Five</button>
	<button onclick="test_midbet()" id="t_midbet">mid bet</button>
	<button onclick="test_357show3()" id="t_357show">357 show</button>
	<button onclick="test_misc()" id="t_misc">misc</button>
	<button onclick="test_misc2()" id="t_misc2">misc2</button>
	<button onclick="test_misc3()" id="t_misc3">misc3</button>
	<button onclick="test_misc4()" id="t_misc4">misc4</button></p>

	<hr>
 	
	<div id="accounting"> 
	    accounting<br>
	    <form class="abuttons" id="abuttons" > </form>
	</div>
<!---	<p id="stack">"Stack: 0"</p>
	<p id="buyin"><input type="text" id="rebuy" value="2000">
	  <button onclick="rebuy()" id="rebuybutton">Buy In</button>  <span id="demo"></span></p>
	<p><button onclick="pickGame()" id="dcbutton" disabled=true>Pick a Game</button></p>
	<p>
	  <div id="dealerchoice">
	    </div>
	</p>
	-->
	<hr>
	<p>
	    <div id="admin"> 
	admin<br>
		<form class="buttons" id="buttons" > </form>
		<div id="game_status"> </div>
	    </div>
        </p>
	<hr>
	<p>
	cards<br>
	<div class="box" id="mycards" border = "thick solid #0000FF" display="None">
<!---	<p><button onclick="startGame()" id="startbutton" disabled=true>Start Game</button></p> -->

<!---	<p>
	<div class="box" id="mycards" border = "thick solid #0000FF">
<!--	  <span>         <img class='card movable'  draggable="true" src='/static/cards/QS.svg'> </span>
	  <span>         <img class='card movable'  draggable="true" src='/static/cards/KH.svg'> </span>
	  <span>         <img class='card movable'  draggable="true"  src='/static/cards/9D.svg'> </span> -->
	</div>
	<div class="box" id="mycards2" border = "thick solid #0000FF" display="None">
	</div>
	<div class="box" id="mycards3" border = "thick solid #0000FF"  display="None">
	</div>
	</p>
	<hr>
	player info<br>
	<p><div id="players"> </div></p>
	<hr>

	<br>
	<br>
	<div id="chat">
		<div id="msgList" style=""></div>
		Your message:<br/> <input id="txtMsg" type="text" name="msg" value="">
		<input type="button" id="btnSend" value="Send" disabled="disabled"/>
	</div>
    <div id="nickList" style=""></div>


    <script>
      var boxArray = document.getElementsByClassName("box");
      var boxes = Array.prototype.slice.call(boxArray);
      dragula({ containers: boxes })
      </script>
      
    <script src="/static/underscore-min.js"></script>
    <script src="/static/zepto.min.js"></script>
    <script>
        var ws;
        Zepto(function($){
            init_ws();

            window.onbeforeunload = function(e) {
                ws.close()
            };

        })
	function rebuy() {
	 var x = document.getElementById("rebuy").value;
	 if(isNaN(x) || x < 1000 || x > 4000){
   	text = "Invalid rebuy, must be 1000 <-> 4000";
  	   document.getElementById("demo").style.color = "red";
	  }else{
	   text = "all good: "+x
  	   document.getElementById("demo").style.color = "black";
	   document.getElementById("dcbutton").disabled= false;	  
	  }
	  document.getElementById("demo").innerHTML = text;
	}
	  
	function createCard(value, suit) {
	    var node = document.createElement("SPAN");                 // Create a <SPAN> node
	    var img = document.createElement("IMG");
	    img.src = '/static/cards/' + value + suit +'.svg';
	    img.className = 'card movable';
	    img.setAttribute("draggable", "true");
	    node.appendChild(img);
	    return node;
	    
	}
     C = function(tag){
	 return document.createElement(tag);
     }
     E = function(id){
	 return document.getElementById(id);
     }
     buttonMaker = function(bname,bdis){
         b = C('input'); b.type = 'button'; b.value = bname; b.id=bname;
         console.log("in buttonMaker: bname is "+bname);
	 
	 appendTo = E('buttons')
	 clickFunc = function() {
	     sendButton({'bname':this.value}); //turn it red if it's invalid
	 }
	 b.addEventListener('click', clickFunc);
	 b.disabled = bdis;
	 bstr = JSON.stringify(b);
         console.log("in buttonMaker: "+bstr);
	 
	 appendTo.appendChild(b);
	 return appendTo;
     }
     textButtonMaker = function(bname,bdis){
	 appendTo = E('buttons')
	 t = C('input'); t.type = 'text'; t.value='';
	 t.id = bname+'_input';
	 b = C('input'); b.type = 'button'; b.value = bname;
	 tbch = function() {
	     //sendButton(E(bname+'_input').value);
	     sendButton({'bname':bname,'payload':E(bname+'_input').value});
	 }
	 b.addEventListener('click', tbch);
	 b.disabled = bdis;
	 tstr = JSON.stringify(t)
         console.log("in tbuttonMaker: t is "+tstr);
	 bstr = JSON.stringify(b)
         console.log("in tbuttonMaker: b is "+bstr);

	 
	 appendTo.appendChild(t)
	 appendTo.appendChild(b);
	 return appendTo;
      }

     function addButton(bell) {
	 bstr = JSON.stringify(bell );
	 b_obj = JSON.parse(bstr);
	 
	 console.log("in addButton, bell is "+b_obj);
	 bname = b_obj.bname;
	 console.log("in addButton, bname is "+bname);
         console.log("addButton: "+bstr);
	 if (bell.has_text == true) {
             console.log("adding text buton");
	     textButtonMaker(bname,b_obj.disabled);
	 } else {
             console.log("adding nontext buton");
	     buttonMaker(bname,b_obj.disabled);
	 }	     
     }
     function showPlayButtons(butts) {
	 butts.forEach(addButton);
     }
     function pickGame() {
	 var gamechoices = `{
	           "357 3 Legs, Wimp Rule, Leg Limitation, No first Legs, 25 ante": "357_25",
	           "357 3 Legs, Wimp Rule, Leg Limitation, No first Legs, 5 ante": "357_5",
	    "357 3 Legs, Leg Limitation, No first Legs, 5 ante": "357_5_nw",
	    "seven card poker": "7cp",
	    "five card poker": "5cp",
	    "five card draw": "5cd"
	    }`;
	    
	 var select = document.createElement("select");
	 select.name = "dc";
	 select.id = "dc"
	 gc_obj = JSON.parse(gamechoices);
	    
	 for (const k in gc_obj) {
	     var option = document.createElement("option");
	     option.value=gc_obj[k];
	     option.text=k;
	     select.appendChild(option)
	 }
	 var dclabel = document.createElement("label");
	 dclabel.innterHTML = "Choose a game:";
	 dclabel.htmlFor = "dchoice";
	 document.getElementById("dealerchoice").appendChild(dclabel).appendChild(select);
  	 document.getElementById("startbutton").disabled= false;	  
     }
	    
	    function startGame() {

  	    var e = document.getElementById('dc');
	    var result = e.options[e.selectedIndex].value;
	    var obj = {'gameSelected':result,'subtype':'dealerchoice'}
	    send_poker_msg(obj);
	    }

            function showCard(card) {
		document.getElementById("mycards").appendChild(createCard(card[0],card[1])); 
	    }
	    
	    function showCards(cards) {
		cards.forEach(showCard); 
	    }	    

     function sendButton(b) {
	 b.msgtype = "poker";
	 b.subtype = 'button';
	 
         console.log("In button msg, before send.");
         jmsg = JSON.stringify(b );
	 ws.send(jmsg);
         console.log("In send button msg, after send.");
         console.log("send button msg:"+jmsg);
     }
     
     function send_poker_msg(d) {
	 d.msgtype = "poker";

         console.log("In send poker msg, before send.");
	 
         jmsg = JSON.stringify(d );
	 ws.send(jmsg);
         console.log("In send poker msg, after send.");
         console.log("send poker msg:"+jmsg);
     }
	    
          function init_ws() {
                var url;
                url = "ws://"+window.location.host  + "/ws/{{ clientid }}";
                ws = new WebSocket( url );
                ws.onopen  = function(event) {
                    console.log("Socket opened");
                    init_chat_ui();
                }

                ws.onclose = function(){
                    console.log("WebSocket closed.");
                }

                ws.onerror  = function(event) {
                    console.log("ERROR opening WebSocket.");
                    $('body').html("<h1>ERROR connecting to chat server</h1><p>reload the page and try again</p>");
                }

                ws.onmessage = receive_message;

            };

            function init_chat_ui() {
                $("#txtMsg").keyup(function(event) {
                        if ( $(this).val() != "") {
                            $("#btnSend").removeAttr("disabled");
                            //if key is enter, send message and clean box
                            if (event.which == 13) {
                                send_text_msg($("#txtMsg").val());
                                $("#btnSend").attr("disabled", "disabled");
                            }
                        } else { 
                            $("#btnSend").attr("disabled", "disabled");
                        }
                });
                $("#btnSend").click(function() {
                    send_text_msg($("#txtMsg").val())
                    $("#btnSend").attr("disabled", "disabled");
                });
	  
                $("#chat").show(400);
                }

            function send_text_msg(txt) {
                text_msg_obj = {"msgtype": "text", "payload": txt };
                $("#txtMsg").val("");
                $("#txtMsg").focus();
                jmsg = JSON.stringify(text_msg_obj );
                ws.send(jmsg);
            };

	    function handlePokerMsg(msg) {
		console.log("In handlePokerMsg.");
  		switch (msg.subtype) {
	            case "cards":showCards(msg.cards);
  	                break;
	            case "admin":document.getElementById("game_status").innerHTML = msg.game_status;
	                break;
	            case "buttons":showPlayButtons(msg.buttons);
	                break;
		}

	    }
     function handleAccountingMsg(msg) {
	 console.log("In handleAccountingMsg");
	 ptr = E("accounting")
	 astr = "Stack: " + msg.stack + ", Active: " + msg.active_stack + ", total in: " + msg.total;
	 if (msg.butt_active > 0) {
	     
	 }
     }

     
            function receive_message(wsevent) {
                console.log("received message: "+wsevent.data )
                msg_obj = $.parseJSON(wsevent.data);
                switch (msg_obj.msgtype) {
                    case "join": $("#msgList").append("<b>"+ msg_obj.username + msg_obj.payload + "</b><br/>");
                	 document.getElementById("player").innerHTML = "Player: "+ msg_obj.username;
                	 document.getElementById("room").innerHTML = "Room:" + msg_obj.room;
                         break;
                    case "leave":$("#msgList").append("<b>"+msg_obj.username + msg_obj.payload + "</b><br/>");
                                  break;
                    case "nick_list": $("#nickList").empty()
                                      $("#nickList").append("<ul>");
                                      nl = _.map(msg_obj.payload, function(nick){ return "<li>"+nick+"</li>"; })
                                      ih =  _.reduce(nl, function(inner, li){ return inner + '\n'+ li; }, "");
                                      $("#nickList").append(ih);
                                      $("#nickList").append("</ul>");
                                  break;
                    case "poker":handlePokerMsg(msg_obj);
			break;
                    default: $("#msgList").append("<b>"+msg_obj.username+": </b>"+msg_obj.payload+"<br/>");

                }

                $("#msgList").scrollTop($("#msgList")[0].scrollHeight);
            }

    </script>
</body>
</html>
