<!DOCTYPE html>
<html>
<head>
    <title>Free Text Chat</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/dragula.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/static/cards.css"      media="screen" />
</head>
<body>
        <script src="/static/dragula.js"></script>
        <p id="room">"Room: oh hai"</p>
        <p id="player">"Player:"</p>
	<p id="stack">"Stack: 0"</p>
	<p id="buyin"><input type="text" id="rebuy" value="2000">
	  <button onclick="rebuy()" id="rebuybutton">Buy In</button>  <span id="demo"></span></p>
	<p><button onclick="startGame()" id="startbutton" disabled=true>Start Game</button></p>

       <p>
	<div class="box" id="mycards" border = "thick solid #0000FF">
	  <span>         <img class='card movable'  draggable="true" src='/static/cards/QS.svg'> </span>
	  <span>         <img class='card movable'  draggable="true" src='/static/cards/KH.svg'> </span>
	  <span>         <img class='card movable'  draggable="true"  src='/static/cards/9D.svg'> </span>
	  </div>
       </p>
	
	<br>
	<br>
	<div id="chat">
		<div id="msgList" style=""></div>
		Your message:<br/> <input id="txtMsg" type="text" name="msg" value="">
		<input type="button" id="btnSend" value="Send" disabled="disabled"/>
	</div>
    <div id="nickList" style=""></div>


    <script>
      var boxArray = document.getElementsByClassName("box");
      var boxes = Array.prototype.slice.call(boxArray);
      dragula({ containers: boxes })
      </script>
      
    <script src="/static/underscore-min.js"></script>
    <script src="/static/zepto.min.js"></script>
    <script>
        var ws;
        Zepto(function($){
            init_ws();

            window.onbeforeunload = function(e) {
                ws.close()
            };

        })
	function rebuy() {
	 var x = document.getElementById("rebuy").value;
	 if(isNaN(x) || x < 1000 || x > 4000){
   	   text = "Invalid rebuy, must be 1000 <-> 4000";
  	   document.getElementById("demo").style.color = "red";
	  }else{
	   text = "all good: "+x
  	   document.getElementById("demo").style.color = "black";
	   document.getElementById("startbutton").disabled= false;	  
	  }
	  document.getElementById("demo").innerHTML = text;
	}
        function init_ws() {
                var url;
                url = "ws://"+window.location.host  + "/ws/{{ clientid }}";
                ws = new WebSocket( url );
                ws.onopen  = function(event) {
                    console.log("Socket opened");
                    init_chat_ui();
                }

                ws.onclose = function(){
                    console.log("WebSocket closed.");
                }

                ws.onerror  = function(event) {
                    console.log("ERROR opening WebSocket.");
                    $('body').html("<h1>ERROR connecting to chat server</h1><p>reload the page and try again</p>");
                }

                ws.onmessage = receive_message;

            };

            function init_chat_ui() {
                $("#txtMsg").keyup(function(event) {
                        if ( $(this).val() != "") {
                            $("#btnSend").removeAttr("disabled");
                            //if key is enter, send message and clean box
                            if (event.which == 13) {
                                send_text_msg($("#txtMsg").val());
                                $("#btnSend").attr("disabled", "disabled");
                            }
                        } else {
                            $("#btnSend").attr("disabled", "disabled");
                        }
                });
                $("#btnSend").click(function() {
                    send_text_msg($("#txtMsg").val())
                    $("#btnSend").attr("disabled", "disabled");
                });
	  
                $("#chat").show(400);
                }

            function send_text_msg(txt) {
                text_msg_obj = {"msgtype": "text", "payload": txt };
                $("#txtMsg").val("");
                $("#txtMsg").focus();
                jmsg = JSON.stringify(text_msg_obj );
                ws.send(jmsg);
            };

            function receive_message(wsevent) {
                console.log("received message: "+wsevent.data )
                msg_obj = $.parseJSON(wsevent.data);
                switch (msg_obj.msgtype) {
                    case "join": $("#msgList").append("<b>"+ msg_obj.username + msg_obj.payload + "</b><br/>");
                	 document.getElementById("player").innerHTML = "Player: "+ msg_obj.username;
                	 document.getElementById("room").innerHTML = "Room:" + msg_obj.room;
                         break;
                    case "leave":$("#msgList").append("<b>"+msg_obj.username + msg_obj.payload + "</b><br/>");
                                  break;
                    case "nick_list": $("#nickList").empty()
                                      $("#nickList").append("<ul>");
                                      nl = _.map(msg_obj.payload, function(nick){ return "<li>"+nick+"</li>"; })
                                      ih =  _.reduce(nl, function(inner, li){ return inner + '\n'+ li; }, "");
                                      $("#nickList").append(ih);
                                      $("#nickList").append("</ul>");
                                  break;
                    default: $("#msgList").append("<b>"+msg_obj.username+": </b>"+msg_obj.payload+"<br/>");
	            document.getElementById('p1').innerHTML = msg_obj.payload;
                }

                $("#msgList").scrollTop($("#msgList")[0].scrollHeight);
            }

    </script>
</body>
</html>
